<.header>
  Edit Comment <%= @comment.id %>
  <:subtitle>Use this form to manage comment records in your database.</:subtitle>
</.header>

<.post_comment_form changeset={@changeset} action={~p"/posts/#{@post_id}/comments/#{@comment.id}"} />

<.back navigate={~p"/posts"}>Back to posts</.back>
